.reveal-section {
   height: 100%;    
   padding: 0 !important;
}

.slide-div {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

h1 {
   font-size: 70 !important;
   font-weight: 500 !important;
   text-align: center;
}

.metric-container {
   display: flex;
   flex-direction: row;
   flex-grow: 6;
   justify-content: space-around;
   align-content: center;
   width: 150%;
   margin: 0 -25%;
   transform: scale(0.5);
   font-size: 0.5em;
}

.metric-field {
   flex-grow: 1;
   display: flex;
   justify-content: center;
}
.metric {
   display: flex;
   flex-direction: column;
   font-size: 20px;
}

.fluid-img {
   max-width: 90%;
   max-height: 90%;
}
